
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex {
    display: flex;
}
.just-bet {
    justify-content: space-between;
}
.just-cent {
    justify-content: center;
}
.items-cent {
    align-items: center;
}

main {
    margin: 0 auto;

    .navigation-wrap {
        display: flex;
        justify-content: space-between;
        background-color: rgb(29, 29, 29);
        max-height: 6rem;

        .name {
            padding: 0.8rem 0.4rem;

            h2 {
                font-size: 1.125rem;
            }

            h2 span {
                color:rgb(72, 252, 72);
            }
            p {
                font-size: 0.9rem;
            }
        }

        p,h2 {
            color:white;
            margin: 0 auto;
        }
        .menu-wrap {
            i {
                display: block;
            }
        }
        .navs {
            list-style: none;
            .nav {
                border-top: 3px solid white;
                padding: 0 4px;
                margin: 0 3px;
                font-size: 9px;
                text-decoration: none;
            }
        }
        
        .topspace {
            height: 42px;
        }
    }

    .section {
        padding: 20px 5px;
        .content {
            border: 1px solid rgb(224, 224, 224);
            .picwrap {
                padding: 0.75rem 0.5rem;
                width: 50%;
                .pic {
                    height: 100%;
                    img {
                        border: 2px solid rgb(224, 224, 224);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .hello-wrap {
                width: 38%;
                word-wrap: break-word;
                padding: 0.1rem 0;
                text-align: justify;
                .sub {
                    font-size: 0.6rem;
                    font-weight: normal;
                    text-align: left;
                }
                h2 {
                    font-size: 1.125rem;
                    color:rgb(71, 206, 71);
                    margin: 1% 0;
                    span {
                        font-size: 1.8rem;
                    }
                }
                
                p {
                    font-size: 0.6rem;
                    color: rgb(99, 98, 98);
                   
                }
                button {
                    background-color: rgb(71, 206, 71);
                    color: white;
                    padding: 0 15px;
                    font-size: 0.8rem;
                }
            }
            .contacts {
                padding: 0.5rem 0.3rem;
                word-wrap: break-word;
                text-align: left;
                h2 {
                    font-size: 0.6rem;
                    margin-bottom: 0;
                    color: rgb(71, 206, 71);
                    font-weight: normal;
                }
                p {
                    font-size: 0.6rem;
                    margin: 0;
                    color: rgb(99, 98, 98);
                }
                .social-wrap i {
                    padding: 0 0.2rem;
                }
                .avail h2 {
                    margin-top: 0;
                }
            }
        }
       
    }


}
@media only screen and (max-width: 768px){
    .main .navigation-wrap .menu-wrap i {
        display: none;
    }
    .menu-wrap {
        i {
            // display: none;
        }
        .topspace {
            display: none;
        }
        .navs {
            display: block;
            padding: 0;
            background-color: rgb(29, 29, 29);

            .nav {
              border-top: 0 !important ;
              font-size: 2rem !important;
            }
        }
        
    }
}